logging-log4j/src/main/resources/sniffingLogger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="sniffingLoggers">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" ref="sniffingLogger" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="sniffingLogger">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string"  use="required"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>